html {
    background-color: white;
    color: black;

    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 1px black;
    padding: 20px;
    font-size: 20px;
}

.image {
    max-width: 800px;
    margin: auto;
}

.codeinline {
    display: inline-block;
    background-color: white;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.codemultiline {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-top: 10px;
}

.link {
    color: blue;
}

.italic { font-style: italic; }
.bold { font-weight: bold; }

.unorderedlistitem {
    padding-left: 10px;
}

.quote{
   padding-left: 20px;
   background-color: rgb(230,230,230);
   border-left-style: inset;
   border-left-width: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
}

.h1 {
    text-align: center;
}

.h2 {
    box-shadow: 0px -1px 0px 0px black;
}